<h1>Questions#answer</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p>-->

<div class="banner">
  <p><%= params[:question] %></p>
  <p> <%= @answer %> </p>
</div>
<div>
  <p><%= link_to "Ask a new question", "/ask" %></p>
</div>

